@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /*landing page hero colors*/
  --primary: #000000;
  --primary-2: #222222;
  --accent: #333333;
  --light-accent: #969696;
  --highlight: #f5e876;
  --small-font: #EFEFEF;
  --accent-2: #b78bf2;

  /*body-styles*/
  --font-primary: 'Inter', sans-serif;
  --font-secondary: 'Outfit', sans-serif;

  /*buttons-pop actually need neutral colors*/
  --button-primary: #3b82f6;
  --button-secondary: #10b981;

  --neutral-1: #6b7280;
  --neutral-2: #4b5563;
  --neutral-3: #374151;
  --darker: #1f2937;
  --darkest: #111827;

  --font-1: var(--primary-font);
  --font-2: var(--secondary-font);
  --font-3: var(--main-font);
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--primary);
    --foreground: var(--primary-2);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Outfit', 'Inter', 'Roboto-mono', sans-serif;
}
